body {
  font-size: 16px;
  color: #ffffff;
  background-color: #feb729;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  line-height: 0.75;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 15px;
  border-radius: 50%;
}

#phone {
  list-style-type: none;
}

#phone a {
  text-decoration: none;
  color: white;
} 

.principal-card {
  max-width: 100%;
  height: 500px;
  overflow: hidden;      
}

.principal-card img {
  width: 100%;     
  margin: 20px auto;    
}

#home-card {
  margin-top: 30px;
}

#menu-card, #specials-card, #map-card {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #3f0c1f;
  overflow: hidden;  
}

#menu-card img, #specials-card img, #map-card img {  
  width: 100%;
  height: 250px;  
}

#menu-card span, #specials-card span, #map-card span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center; 
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  padding: 5px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: #222;
  border-top: 0;
}

#hours, #address {
  line-height: 2;
}

#hours > span, #address > span {
  font-size: 1.3rem;
}

#address p {
  color: #b0ff97;
  font-size: 0.8em;
  list-style: 1.7;  
}

#testimonials {
  font-style: italic;
  padding-bottom: 50px;
}

.category {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 250px;
  height: 200px;
  margin: 0 auto 15px;
  margin-top: 20px;
}

.category span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #222;
  opacity: 0.75;
  color: #fff;
}

.menu-item-special-content {
  width: 50%;
  margin: 0 auto;  
}

.menu-item-special {
  margin-bottom: 25px;
  margin-top: 20px;  
}

.mneu-item-special hr {
  width: 80%;  
}

.menu-item-special .menu-item-special-price {
  font-size: 1.1em;
  text-align: center;
  margin-top: -15px;
  margin-right: -15px;
  color: #235231;
}

.menu-item-special-photo {
  position: relative;
  border: 2px solid #000;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}

.menu-item-special-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #48a265;
  text-align: center;
}

.menu-item-special-description {
  padding-right: 30px;
}

.menu-item-special-title {
  margin: 0 0 10px;
  color: #35874f;
}

.menu-item-special-details {
  font-size: 0.85em;
  font-style: italic;
  color: #20482d;
}